@using Dest.ASP.Tester.Models.Enums;

@switch (Model)
{
	case CellTile.Brick:
		<div class="BrickCell">B </div>
		break;
	case CellTile.Empty:
		<div class="EmptyCell">E </div>
		break;
	case CellTile.FriendlyBase:
		<div class="FriendlyBaseCell">FB</div>
		break;
	case CellTile.EnemyBase:
		<div class="EnemyBaseCell">EB</div>
		break;
	case CellTile.Bedrock:
		<div class="BedrockCell">BR</div>
		break;

}