

.GameField {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}


.GameField .GameFieldRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

    .GameField .GameFieldrow div {

        --cell-size: 4vmin;
        width: var(--cell-size);
        height: var(--cell-size);
    }

.EmptyCell {
    background-color: black;
    background-size: auto 100%;
    
}

.BrickCell {
    background-image: url("/assets/textures/map.png");
    background-size: auto 100%;
}

.BedrockCell {
    background-image: url("/assets/textures/map.png");
    background-size: auto 100%;
    background-position-x: calc(var(--cell-size) * -1);
}

.GameFightField{
    z-index: 1;
    position: relative;

}