.map {
    position: center;
    width: 800px;
    height: 800px;
    background-color: blue;
    margin-left: 0%;
}

#motionCanvas {
    width: 800px;
    height: 800px;
    object-fit: contain;
}

.GameField{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.GameField .GameFieldrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

    .GameField .GameFieldrow div{
        --cell-size: 5vmin;
        width: var(--cell-size);
        height: var(--cell-size);

    }

.EmptyCell{
    background-color: darkseagreen;
}

.BrickCell {
    background-image: url("/assets/textures/map.png");
    background-size: auto 100%;
}

.BedRock {
    background-image: url("/assets/textures/map.png");
    background-size: auto 100%;
    --height: height;
    background-position-x: calc(--height*(-1))
}

.GameFightField{
    z-index: 1;
    position: relative;

}