@model GameModel

@{
    ViewData["Title"] = "Game";
}

@section HeadResources{
    <link rel="stylesheet" href="/css/Game.css" />
}


        @{
            await Html.RenderPartialAsync("GameField", Model.GameFieldModel);
        }
        @{
            await Html.RenderPartialAsync("GameFightField", Model.GameFightFieldModel);
        }
       
</div>
