@{
    ViewData["Title"] = "Gamescreen";
}

<div>
    <canvas class="gameField" style="width: 95%; height: 95%; color: white">
        <ellipse style="width: 50px; color: red" ></ellipse>
    </canvas>
</div>