@model GameModel

@{
    ViewData["Title"] = "Gamescreen";
}

@section HeadResources{
    <link rel="stylesheet" href="css/Game.css" />
}
<center>
<div class="map">
        @{
            await Html.RenderPartialAsync("GameField", Model.GameFieldModel);
        }
        <canvas id="motionCanvas">
    </canvas>
</div>
</center>